{{> navbar}}

<div class="container m-3">
    <div class="bg-light rounded">

        <h4>Mensajes:</h4>
        <ul id="listado-msjs">
            
        </ul>
        <div id="env-msjs">
            <input id="nuevo-msj" placeholder="Nuevo mensaje">
            <button id="btn-msj" onclick="enviarMensaje()">Enviar</button>
        </div>

    </div>
</div>