{{> navbar}}

<div id="env-msjs">
    <button class="m-3 btn btn-primary" id="btn-ver-rtas" onclick="verRespuestas()">Mostrar mensajes</button>
</div>

<div class="container m-3">
    <div class="bg-light rounded">
        <h4>Mensajes propios y respuestas:</h4>
        <ul id="listado-msjs-y-rtas">
        </ul>
    </div>
</div>
