{{#each mensajes}}
  <div>
    <span class="fw-bold text-primary">{{this.autor.id}}</span>
    [<span class="text-muted">{{this.fecha}}</span>]:
    <span class="fst-italic">{{this.text}}</span>
  </div>
{{/each}}