<section class="main-section">
    <div class="container">

        <form autocomplete="off" action="/login" method="post">
            <div class="user signinbox">
                <div class="imagebox"> <img src="https://imgur.com/5y6Y6Gx.jpg"> </div>
                <div class="formbox">
                    <div class="form">
                        <h2>Signin</h2>
                        <input type="text" placeholder="username" name="username">
                        <input type="password" placeholder="Password" name="password">
                        <input type="submit" value="Login">

                        {{#if retry}}
                        <div class="alert bg-warning">Usuario o contraseña incorrectos</div>
                        {{/if}}
                        
                        <p class="signup-text">Don't have an account?
                            <a href="#" onClick="toggleform();">Signup</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>

        <form autocomplete="off" action="/signup" method="post">
            <div class="user signupbox">
                <div class="formbox">
                    <div class="form">
                        <h2>Signup</h2>
                        <input type="text" placeholder="Username" name="username">
                        <input type="email" placeholder="Email" name="email">
                        <input type="password" placeholder="Password" name="password">
                        <input type="text" placeholder="Name" name="name">
                        <input type="text" placeholder="Adress" name="adress">
                        <input type="text" placeholder="Age" name="age">
                        <input type="text" placeholder="Phone" name="phone">
                        <input type="text" placeholder="Avatar" name="avatar">

                        <input type="submit" value="Signup">
                        <p class="signup-text">Already have an account?
                            <a href="#" onClick="toggleform();">Login</a>
                        </p>
                    </div>
                </div>
                <div class="imagebox"> <img src="https://i.imgur.com/kPlWgwj.jpg"> </div>
            </div>
        </form>

    </div>
</section>



<!--

<div class="container row m-3">
    <div class="card m-3">
        <h3 class="m-3">Iniciar sesion</h3>
        <form autocomplete="off" action="/login" method="post">
            <div class="form-group mb-3">
                <label>Usuario:</label>
                <input class="form-control" required type="text" name="username" required />
            </div>
            <div class="form-group mb-3">
                <label>Contraseña:</label>
                <input class="form-control" required type="password" name="password" required />
            </div>
            <div class="form-group mb-3">
                <input class="btn btn-primary" type="submit" value="Enviar" />
            </div>
            {{#if retry}}
            <div class="alert bg-warning">Usuario o contraseña incorrectos</div>
            {{/if}}
        </form>
    </div>
    <div class="card m-3">
        <h4 class="m-3">¿No tenés cuenta?</h4>
        <button class="m-3 col-2 btn btn-secondary" onclick="location.href = '/signup'">Registrarse</button>
    </div>
</div>

-->