<div class="container m-3">
    <div class="row">
        <div class="bg-light rounded d-flex">
            <h3 class="col-md-6">Hasta luego {{nameLogout}}</h3>
        </div>
    </div>
</div>

<script type="application/javascript">
    setTimeout(function () {
        window.location.replace("./login")
    }, 2000)
</script>