<div class="container row m-3">
    <div class="card m-3">
        <h3 class="m-3">Registrarse</h3>
        <form autocomplete="off" action="/signup" method="post">
            <div class="form-group mb-3">
                <label>Nombre de usuario:</label>
                <input class="form-control" required type="text" name="username" />
            </div>
            <div class="form-group mb-3">
                <label>Email:</label>
                <input class="form-control" required type="email" name="email" />
            </div>
            <div class="form-group mb-3">
                <label>Contraseña:</label>
                <input class="form-control" required type="password" name="password" />
            </div>
            <div class="form-group mb-3">
                <label>Nombre:</label>
                <input class="form-control" required type="text" name="name" />
            </div>
            <div class="form-group mb-3">
                <label>Direccion:</label>
                <input class="form-control" required type="text" name="address" />
            </div>
            <div class="form-group mb-3">
                <label>Edad:</label>
                <input class="form-control" required type="text" name="age" />
            </div>
            <div class="form-group mb-3">
                <label>Telefono:</label>
                <input class="form-control" required type="text" name="phone" />
            </div>
            <div class="form-group mb-3">
                <label>Avatar:</label>
                <input class="form-control" required type="text" name="avatar" />
            </div>
            <div class="form-group mb-3">
                <input class="btn btn-primary" type="submit" value="Registrar" />
            </div>
            {{#if retry}}
            <div class="alert bg-danger">Hubo un error al registrar el usuario.</div>
            {{/if}}
        </form>
    </div>
    <div class="card m-3">
        <h4 class="m-3">¿Ya tenés cuenta?</h4>
        <button class="m-3 col-2 btn btn-secondary" onclick="location.href = '/login'">Iniciar sesión</button>
    </div>
</div>