@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* -------------- */
/*     NAVBAR     */
/* Snipper de:    */
/* https://bbbootstrap.com/snippets/navigation-bar-icons-nav-tabs-68822048 */
/* -------------- */

body {
    border-radius: 10px;
}


.bg-black {
    background-color: #000;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar-brand {
    padding: 6px 20px;
    font-size: 16px;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    padding: 0px 8px;
    margin: 0px 3px;
    text-align: center;
    border-radius: 5px;
}

/* No se usa right now
.nav-item.active {
    background-color: #9E9E9E;
}
*/
.nav-item:hover {
    background-color: #9E9E9E;
}

.nav-link {
    padding: 5px;
}



/* -------------- */
/*    PRODUCTOS   */
/*   Snippet de:  */
/* https://bbbootstrap.com/snippets/bootstrap-colorful-ecommerce-product-list-48987425 */
/* -------------- */

.card {
    /*  width: 400px;*/
    border: 1px;
    border-radius: 0px;

    background-color: #fff;
}

.text1 {
    font-size: 15px;
    color: #636363;
}

.info {
    line-height: 17px;
}

.cost span {
    color: #fb3531;
    font-weight: bold;
    font-size: 20px;
}



/* -------------- */
/*    CARRITO     */
/* Snipper de:    */
/* https://bbbootstrap.com/snippets/ecommerce-shopping-cart-30657531 */
/* -------------- */

/*
body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #E0E0E0;
    color: #000000
}
*/

ul {
    list-style: none;
    margin-bottom: 0px
}

.button {
    display: inline-block;
    background: #0e8ce4;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.button a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px
}

.button:hover {
    opacity: 0.8
}

.cart_section {
    width: 100%;
    padding-top: 93px;
    padding-bottom: 111px
}

.cart_title {
    font-size: 30px;
    font-weight: 500
}

.cart_items {
    margin-top: 8px
}

.cart_list {
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff
}

.cart_item {
    width: 100%;
    padding: 15px;
    padding-right: 46px
}

.cart_item_image {
    width: 133px;
    height: 133px;
    float: left
}

.cart_item_image img {
    max-width: 100%
}

.cart_item_info {
    width: calc(100% - 133px);
    float: left;
    padding-top: 18px
}

.cart_item_name {
    margin-left: 7.53%
}

.cart_item_title {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5)
}

.cart_item_text {
    text-align: left;
    font-size: 18px;
    margin-top: 35px
}

.cart_item_text span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 11px;
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px)
}

.cart_item_price {
    text-align: right
}

.cart_item_total {
    text-align: right
}

.order_total {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-right: 46px;
    padding-left: 15px;
    background-color: #fff
}

.order_total_title {
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 60px
}

.order_total_amount {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 26px;
    line-height: 60px
}

.cart_button_clear {
    margin-top: 60px;
    text-align: right;
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    border: solid 1px #b2b2b2;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    margin-right: 26px
}

.cart_button_clear:hover {
    border-color: #0e8ce4;
    color: #0e8ce4
}

.cart_button_checkout {
    margin-top: 60px;
    text-align: right;
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    vertical-align: top
}


/* -------------- */
/* LOGIN Y SIGNUP */
/* Snipper de:    */
/* https://bbbootstrap.com/snippets/bootstrap-5-animated-login-signup-form-44730480 */
/* -------------- */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif
}

section {
    position: relative;
    min-height: 100vh;
    background-color: #fee648;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px
}

section .container {
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1)
}

section .container .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex
}

section .container .user .imagebox {
    position: relative;
    width: 50%;
    height: 100%;
    transition: 1s
}

section .container .user .imagebox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

section .container .user .formbox {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 1s
}

section .container .user .formbox .form h2 {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    color: #555
}

section .container .user .formbox .form input {
    position: relative;
    width: 100%;
    height: 40px !important;
    padding: 0px 10px;
    background-color: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    margin: 5px 0;
    box-shadow: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px
}

section .container .user .formbox .form input[type='submit'] {
    max-width: 100px;
    background-color: #677eff;
    color: #fff;
    cursor: pointer
}

section .container .user .formbox .form .signup-text {
    position: relative;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase
}

section .container .user .formbox .form .signup-text a {
    text-decoration: none;
    color: #677eff;
    cursor: pointer
}

section .container .signupbox {
    pointer-events: none
}

section .container.active .signupbox {
    pointer-events: initial
}

section .container .signupbox .formbox {
    left: 100%
}

section .container.active .signupbox .formbox {
    left: 0
}

section .container .signupbox .imagebox {
    left: -100%
}

section .container.active .signupbox .imagebox {
    transform: rotate(360deg);
    left: 0
}

section .container.active .signupbox+.main-section {
    background-color: blue !important
}

section .container .signinbox .formbox {
    left: 0
}

section .container.active .signinbox .formbox {
    left: 100%;
    transform: rotate(360deg)
}

section .container .signinbox .imagebox {
    left: 0
}

section .container.active .signinbox .imagebox {
    left: -100%
}

@media (max-width:750px) {
    section .container {
        max-width: 400px
    }

    section .container .imagebox {
        display: none
    }

    section .container .user .formbox {
        width: 100%
    }
}