<div class="container m-3">
    <div class="row">
        <div class="bg-light rounded d-flex">
            <h3 class="col-md-6">Bienvenido {{username}}, {{email}}</h3>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <a class="col-md-2 btn btn-primary" href="/logout">Logout</a>
        </div>
    </div>
</div>


<div class="container m-3">
    <div class="bg-light rounded">
        <h3>Cargar nuevo producto:</h3>
        <form id="formProds" method="post">
            <div class="mb-3">
                <label for="title" class="fw-bold form-label">Nombre</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Ingrese el nombre" required>
            </div>
            <div class="mb-3">
                <label for="price" class="fw-bold form-label">Precio</label>
                <input type="number" class="form-control" id="price" name="price" placeholder="Ingrese el precio" required>
            </div>
            <div class="mb-3">
                <label for="thumbnail" class="fw-bold form-label">Thumbnail</label>
                <input type="text" class="form-control" id="thumbnail" name="thumbnail" placeholder="Ingrese la URL del thumbnail">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
    <br><br>
    <hr>

    <h3>Lista de Productos</h3>
    <div id="divProds"></div>

</div>